* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Netflix Sans,
        Helvetica Neue,
        Segoe UI,
        Roboto,
        Ubuntu,
        sans-serif;
    background: #000;
    color: #999;
    font-size: 16px;
    max-width: 100%;

}

.container {
    margin-left: 45px;
    margin-right: 45px;

}



img {
    width: 100%;
}

.header {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    inset: 0;
    background-image: url(./assets/hero-img.jpd.jpeg);
    opacity: 0.9;

    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;
    background-repeat: no-repeat;
    border-bottom: 8px solid #222;
    box-shadow: inset 0 100px 250px #000000, inset 0 -80px 250px #000000;

}

h1,
h2, 
h3,
h4 {
    color: #fff;
}

 header a {
 
    color: #fff;
}

.header-top {
    padding-top: 20px;
    height: 90px;

}

.logo {
    height: 44px;
        width: 134px;
        padding-top: 8px
}

.btn {
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border-radius: 3px;
}

.sign-in {
font-size: 1rem;
    float: right;
    font-weight: 400;
    padding: 7px 17px;
    margin-top: 0.5rem;


}


.header-content {
    letter-spacing: 1.4;
    margin: 0 auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
}

.header-content h1 {
    font-size: 3.125rem;
    max-width: 550px;
    margin: auto;
    margin-bottom: 0;
}

.header-content h2 {
    font-size: 1.625rem;
    margin: 1.5rem auto;
    font-weight: 400;
}

.header-content h3 {
    font-size: 19px;
    font-weight: 400;
    margin: 0 auto;


}

.header-content form , .faq form{
    display: flex;
    margin-top: 20px;
    height: 60px;
}

.header-content input , .faq input{
    width: 470px;

    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #8c8c8c;
    border-radius: 2px;

}

.hero-btn {
    border-radius: 2px;
    width: 212px;
    font-size: 26px;
    padding: 8px 26px;
    font-weight: 400;
    display: flex;
    align-items: center;
}


section {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
justify-content: space-around;
/* max-width: 110px; */
    margin: 0  auto;
     border-bottom: 8px solid #222;
     /* gap: 10px; */
        /* max-width: 1100px; */
     line-height: 1.4;
    padding: 70px 35px;
        /* padding: 25px 45px 50px; */
}
section h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

section h2 {
    font-size: 26px;
    font-weight: 400;
}

.card-img {
    position: relative;
    width: 550px;
   


}

/* .card-img img {
    position: relative;
    height: auto;
    width: 550px;
    z-index: 2;
} */
.vid-img {
    position: relative;
        height: auto;
        width: 550px;
        z-index: 2;
        padding-right: 35px;
}
.card-img video {
    position: absolute;
    width: 75%;
    /* height:290px; */
    background-repeat: no-repeat;
    top: 80px;
    left: 68px;
    /* object-fit: contain; */

}




.card-text {
    width: 52%;
    max-width: 550px;
    margin: auto;
}

.footer {
color: #737373;
font-size: 16px;
padding: 40px 65px  ;
    width: 75%;
    max-width: 850px;
      margin-left: 5rem ; 

}
.stranger {
    position: relative;
}
.over-phone {
display: grid;
    grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 1.5em;
        max-width: 20rem;
        width: 330px;
        border: 2px solid #ffffff40;
    border-radius: 0.75em;
        box-shadow: 0 0 2em 0 #000;
            position: absolute;
            bottom: 10%;
            left: 20%;
        padding: 0.5em 0.75em;
            background: #000;
}
.text {
 display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
font-size: 16px;

}
.text p {
    font-size: 14px;
        color: #0071eb;
    font-weight: 400;text-align: left;
}

.over-phone img {
    height: 4.5em;
    width: 50px;
        /* max-width: 100%; */
}
.over-phone .gif {

    height: 3.75em;
      max-width: 100%; 
        width: 3em;
        outline: 2px solid #000;
        display: flex;
        text-align: center;
margin-top: 5px;
        align-items: center;
        justify-content: center;
}

footer a {
        color: #737373;;
    
}
footer li {
        font-size: 13px;
       
}

.footer-cols {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.footer-country {
    margin-top: 24px;

    font-size: 13px;
}
.footer p {
    margin-bottom: 1rem;

}

.footer li {
    line-height: 1.9;
    margin-bottom: 12px;
}


.faq {
    text-align: center;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 70px;

border-bottom: 8px solid #222;
}
.faq h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.question {
    width: 75%;
    max-width: 815px;;
    height: 57px;
    margin:10px auto;
        font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#303030;

        padding: 36px 30px;

}
.question p {

    font-size: 250%;
    display: flex;
    font-weight: 200;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.footer {
    max-width: 80%;
    margin: auto;

    text-align: left;
}

.footer,
.footer a {
    color: #737373;
    font-size: 0.9rem;
        font-size: 13px;
}

.footer p {
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

}

.footer li {
    line-height: 2.4;
}
.faq form {
    text-align: center;
    /* width: 600px; */

        /* margin-bottom: 70px; */

}
.bottom {
    width: 700px;
        margin: 70px auto;
}
.faq .h3 {
    font-size: 19px;
        font-weight: 400;
        margin: 0 auto;
        justify-content: center;
}